@import "tailwindcss";

@theme {
  --color-primary: #1F3D2B;
  --color-secondary: #8B6B3F;
  --color-accent: #C7A44C;
  --color-neutral: #F5F3EE;
  --color-dark: #111111;

  --font-sans: var(--font-jakarta);
}

body {
  background-color: var(--color-neutral);
  color: var(--color-dark);
  font-family: var(--font-sans);
}